body {
    background-color: black;
    color: orange;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, main, footer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

header, main {
    text-align: center;
}

footer{
    background-color: #474747;
    margin-top: auto;
    text-align: center;
}

nav {
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    height: 30px;
}
  
nav > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

li img{
    width: 15%;
    height: 15%;
}

li{
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

img {
    width: 400px;
    border-radius: 5%;
}

main a{
    padding: 10px 10px 10px 10px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

.caption{
    color:#138A36;
}

.left-align-img{
    float: left;
    padding: 20px;
}

.left-align{
    text-align: left;
}

a:active {
    color:#138A36;
}

a:visited {
    color:#138A36;
}

a:hover {
    color:#70C1B3;
}
