:root{
    --heading-color: orange;
    --background-color: black;
    --link-color: #1aaf47;
    --paragraph-color: #45ceb7;
}

body{
    background-color: black;
    color: orange;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main, footer{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
}

main{
    font-size: large;
}

main p{
    color:var(--paragraph-color);
    text-align: left;
}
main ul li{
    color: #45ceb7;
    text-align: left;
    padding: 10px;
}

hr{
    display: block;
    border: 0;
    border-top: 1px solid orange;
    padding: 2px;
}

main img{
    width: 300px;
    height: 200px;
}

footer{
    margin-top: auto;
}

figcaption{
    font-style: italic;
}

nav{
    font-size: larger;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    height: 30px;
}
  
nav > ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav > ul > li {
    display: block;
    
}

img{
    width: 400px;
    border-radius: 5%;
}

a{
    text-decoration: none;
}

main a{
    padding: 10px;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}

a:any-link{
    color:var(--link-color);
}

a:visited{
    color:var(--link-color);
}

a:link{
    color:var(--link-color);
}

a:hover{
    text-decoration: underline;
    color:var(--paragraph-color);
}
