<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="https://github.com/Chrisdouce" target="_new">Github profile</a></li>
            <li>|</li>
            <li><a href="https://webpages.charlotte.edu/cdoucett" target="_new">UNCC Website</a></li>
            <li>|</li>
            <li><a href="https://chrisdouce.github.io/" target="_new">GitHub.io Website</a></li>
            <li>|</li>
            <li><a href="../itis3135/">ITIS3135 Site</a></li>
            <li>|</li>
            <li><a href="https://www.linkedin.com/in/christopher-doucette-7596a7222/" target="_new"> LinkedIn</a></li>
        </ul>
    </nav>
    <p>
        Website made by
        <a id="dynamic" href="#">CDevDesigns &copy; 2024</a>
        <script>
        let link = document.getElementById('dynamic');
        let currentPath = window.location.pathname;
        
        // Check the current path to set the correct link for uncc webpages
        if (currentPath.includes('itis3135')) {
            link.href = '../itis3135/cdevdesigns.co';
        } else {
            link.href = './itis3135/cdevdesigns.co';
        }
        </script>,
        <em> Certified in <a href="https://www.freecodecamp.org/certification/cdoucett/responsive-web-design" target="_new">Responsive Web Design</a></em>.
    </p>
    <a id="validation-button-html"><img id="validation-button-img-html" src="./itis3135/images/htmlValidationButton.png" style="width: 100px;" alt="html validation button"></a>
    <a id="validation-button-css"><img id="validation-button-img-css" src="./itis3135/images/cssValidationButton.png" style="width: 100px;" alt="css validation button"></a>
    <script>
        document.getElementById("validation-button-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation-button-css").setAttribute("href","https://jigaw.w3.org/css-validator/validator?uri=" + location.href);
        
        // Check the current path to set the correct link for uncc webpages
        let path = "";
        if (currentPath.includes('itis3135')) {
            path = '.';
        } else {
            path = '';
        }
        document.getElementById("validation-button-img-html").setAttribute("src", path + "./itis3135/images/htmlValidationButton.png")
        document.getElementById("validation-button-img-css").setAttribute("src", path + "./itis3135/images/cssValidationButton.png");
    </script>
</body>
</html>