<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        img{
            width: 100px;
        }
    </style>
</head>
<body>
    <footer>
    <nav>
        <ul>
            <li><a href="https://github.com/Chrisdouce" target="_new">GitHub</a></li>
            <li>|</li>
            <li><a href="https://webpages.charlotte.edu/cdoucett" target="_new">UNCC Web</a></li>
            <li>|</li>
            <li><a href="https://chrisdouce.github.io/" target="_new">GitHub.io</a></li>
            <li>|</li>
            <li><a id="itis3135" href="./itis3135/">ITIS 3135 Site</a></li>
            <li>|</li>
            <li><a href="https://www.linkedin.com/in/christopher-doucette-7596a7222/" target="_new">LinkedIn</a></li>
            <li>|</li>
            <li><a href="https://www.freecodecamp.org/cdoucett" target="_new">freeCodeCamp</a></li>
            <li>|</li>
            <li><a href="https://www.codecademy.com/profiles/cdoucet" target="_new">Codecademy</a></li>
        </ul>
    </nav>
    <p>
        Website made by <a id="dynamic" href="#">CDevDesigns &copy;2024</a>, <em>Certified in <a href="https://www.freecodecamp.org/certification/cdoucett/responsive-web-design" target="_new">Responsive Web Design</a></em>.
    </p>
    <a id="validation-button-html"><img id="validation-button-img-html" src="./itis3135/images/htmlValidationButton.png" alt="html validation button"></a>
    <a id="validation-button-css"><img id="validation-button-img-css" src="./itis3135/images/cssValidationButton.png" alt="css validation button"></a>
    <script>
        let link = document.getElementById('dynamic');
        const currentPath = window.location.pathname;
        
        // Check the current path to set the correct link for uncc webpages
        if (currentPath.includes('itis3135')) {
            link.href = '../itis3135/cdevdesigns.co';
        } else {
            link.href = './itis3135/cdevdesigns.co';
        }
        document.getElementById("validation-button-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation-button-css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
        
        // Check the current path to set the correct link for uncc webpages
        let path = "";
        if (currentPath.includes('itis3135')) {
            path = '.';
        } else {
            path = '';
        }
        document.getElementById("validation-button-img-html").setAttribute("src", path + "./itis3135/images/htmlValidationButton.png");
        document.getElementById("validation-button-img-css").setAttribute("src", path + "./itis3135/images/cssValidationButton.png");

        //ITIS link on home page fix
        if (currentPath.includes('itis3135')) {
            document.getElementById("itis3135").setAttribute("href", "./");
        } else {
            document.getElementById("itis3155").setAttribute("href", "/itis3135");
        }
        
    </script>
    </footer>
</body>

</html>