<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="https://github.com/Chrisdouce" target="_new">Github profile</a></li>
            <li>|</li>
            <li><a href="https://webpages.charlotte.edu/cdoucett" target="_new">UNCC Website</a></li>
            <li>|</li>
            <li><a href="https://chrisdouce.github.io/" target="_new">GitHub.io Website</a></li>
            <li>|</li>
            <li><a href="../itis3135/">ITIS3135 Site</a></li>
            <li>|</li>
            <li><a href="https://www.linkedin.com/in/christopher-doucette-7596a7222/" target="_new"> LinkedIn</a></li>
        </ul>
    </nav>
    <p>
        Website made by
        <a href="../itis3135/cdevdesigns.co">CDevDesigns &copy; 2024</a>,
        <em> Certified in <a href="https://www.freecodecamp.org/certification/cdoucett/responsive-web-design" target="_new">Responsive Web Design</a></em>, 
    </p>
    <a id="validation-button-html"><img src="../itis3135/images/htmlValidationButton.png" style="width: 100px;" alt="html validation button"></a>
    <a id="validation-button-css"><img src="../itis3135/images/cssValidationButton.png" style="width: 100px;" alt="html validation button"></a>
    <script>
        document.getElementById("validation-button-html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation-button-css").setAttribute("href","https://jigaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>
</body>
</html>