<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <script></script>
    <style>
        li{
            font-size: medium;
        }
    </style>
</head>
<body>
    <header>
        <h1>Christopher Doucette | ITIS 3135</h1>
        <nav>
            <ul>
                <li id="index"><a href="index.html">Home</a></li>
                <li>|</li>
                <li><a href="introduction.html">Introduction</a></li>
                <li>|</li>
                <li><a href="contract.html">Contract</a></li>
                <li>|</li>
                <li><a href="about.html">About Us</a></li>
                <li>|</li>
                <li><a href="./stuff/MY 3p!c H0m3 p@g3.htm">CRAPPY webpage</a></li>
                <li>|</li>
                <li><a href="website_evaluations.html">Website Evaluations</a></li>
                <li>|</li>
                <li><a href="tables.html">Tables</a></li>
                <li>|</li>
                <li><a href="forms.html">Forms</a></li>
                <li>|</li>
                <li><a href="project_overview.html">Project Overview</a></li>
                <li>|</li>
                <li><a href="first-scripts.html">First Script</a></li>
                <li>|</li>
                <li><a href="./projects/hobby/index.html">Hobby</a></li>
                <li>|</li>
                <li><a href="byo_intro.html">BYO Intro</a></li>
                <li>|</li>
                <li><a href="drawing.html">Drawing</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>