<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header>
        <h1>Christopher Doucette | ITIS 3135</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>|</li>
                <li><a href="introduction.html">Introduction</a></li>
                <li>|</li>
                <li><a href="contract.html">Contract</a></li>
                <li>|</li>
                <li><a href="about.html">About Us</a></li>
                <li>|</li>
                <li><a href="./stuff/MY 3p!c H0m3 p@g3.htm">CRAPPY webpage</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>