<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <script></script>
</head>
<body>
    <header>
        <h1>Christopher Doucette | ITIS 3135</h1>
        <nav>
            <ul>
                <li id="index"><a href="index.html">Home</a></li>
                <li>|</li>
                <li><a id="introduction" href="introduction.html">Introduction</a></li>
                <li>|</li>
                <li><a id="contract" href="contract.html">Contract</a></li>
                <li>|</li>
                <li><a id="about" href="about.html">About Us</a></li>
                <li>|</li>
                <li><a href="./stuff/MY 3p!c H0m3 p@g3.htm">CRAPPY webpage</a></li>
                <li>|</li>
                <li><a id="website_evaluations"  href="website_evaluations.html">Website Evaluations</a></li>
                <li>|</li>
                <li><a id="tables"  href="tables.html">Tables</a></li>
                <li>|</li>
                <li><a id="forms"  href="forms.html">Forms</a></li>
            </ul>
        </nav>
    </header>
    <script>
        //Slices the path to what page it currently is
        headerPath = currentPath.slice(currentPath.lastIndexOf("/")+1,currentPath.lastIndexOf("."));

        let navElement = document.getElementById(headerPath);
        if(navElement != null){
            navElementStyle = document.getElementById(headerPath).style;
            navElementStyle.border = "solid";
            navElementStyle.borderWidth = "1px";
            navElementStyle.color = "var(--link-color)";
        }
    </script>
</body>
</html>